.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    background-color: #efefef;
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
ol , ul {
    list-style: none;
}
[data-x].offset {
    transform: translateY(100px)
}
[data-x] {
    transform: translateY(0);
    transition: all 0.5s;
}
/* 以下是TopNavBar */
.TopNavBar {
    padding: 20px 0px;
    position: fixed;    /*加了这个之后，这一个盒子就塌缩，我们只能添加一个宽度 */
    top: 0;
    left: 0;
    width: 100%;
    color: #b7b7b7;
    transition: all 0.5s;
}
.TopNavBar.sticky {
    background: white;
    padding: 5px 0;
    z-index: 1;
    color: #3d4451;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}
.TopNavBar-inner {
    margin: 0 16px;
}
.TopNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black";
    padding: 4px 0 3px ;
}
.TopNavBar  .logo > .rs {
    color: #e6686a;
}
.TopNavBar  .logo > .card {
    color: #9a9da2;
    margin-left: 4px;
}
.TopNavBar  nav > ul {
    list-style: none;
    margin: 2px;
    padding: 0;
}
.TopNavBar  nav > ul > li {
    float: left;
    margin: 10px 17px 0px; 
   position: relative;
}
.TopNavBar  nav > ul > li > a {
    color: inherit;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    border-top: 3px solid transparent;
    padding: 0 0 8px;
    display: block;
    position: relative;
    
} 
.TopNavBar  nav > ul > li.active > a::after,
.TopNavBar  nav > ul > li.highlight > a::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 3px;
    background: #dc6465;
    animation: slideBar 0.3s;
}
@keyframes slideBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.TopNavBar li > .submenu {
    display: none;
    background-color: #fff; 
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    position: absolute;
    right: 0;
    top: 115%;
    cursor: pointer;
}
.TopNavBar li.active > .submenu {
    display: block;
    animation: submenuSlide 0.3s;
}
@keyframes submenuSlide {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0;
    }
}
.TopNavBar .submenu > li {
    white-space: nowrap;
    padding: 5px 10px;
}
/* 以下是banner */
.banner {
    height: 515px;
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask {
    height: 515px;
    background-color: #000;
    background: rgba(0,0,0,0.7);
}   
/* 下面是user-card */
main .user-card {
    max-width: 940px;
    /* border: 1px solid red;   */
    margin: -340px auto 0;
    background-color: #fff;
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.4);

}
.user-card .picture-text {
    padding:50px; 
}
.user-card  .picture {
    float: left;
}
.user-card .text  {
    float: left;
    margin-left: 65px;
    width: 474px; /* 能不写宽就不写，这里不写hr就由于float塌缩了 */
}
.user-card .text .profile .welcome {
    color: #fff;
    background-color: #e6686a;
    padding: 4px 10px;
    line-height: 22px;
    display : inline-block;
    position: relative;  /*绝对定位用 */
}
.user-card .text .profile .triangle {
    width: 0px;
 /*  height: 0px;  这里可以不写，但是width=0不写，就会默认占满一行了  */  
  border:10px solid transparent ;
  border-top-width:0px;
  border-left-color: #e6686a; 
  position: absolute;
  top: 100%;
  left: 4px;
  display: block;
}
.user-card .text h1,p,dl>dt{
    color: #3d4451;
}
.user-card .text h1{
    padding: 28px 0 6px;
}
.user-card .text hr {
    margin: 20px 0;
    color: #9da0a7;
}
.user-card .text dl > dt ,
.user-card .text dl > dd {
    float: left;
    padding: 5px 0 ;
}
.user-card .text dl > dt {
    font-weight: 700;
    width: 30%;
}
.user-card .text dl > dd {
    color: #9da0a7;
    width: 70%;
}
.user-card .media {
    background-color: #E6686A;
    text-align: center;
}
.user-card .media > a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    /* border:1px solid black; */
    border-radius: 50%;
    padding: 5px 0;
    margin: 20px;
}
.user-card .media > a:hover {
    background: #CF5D5F;
}
.user-card .media svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}
/* 以下是profileDownload */
body > main .profileDownload-wrapper {
    text-align: center;
    margin: 36px 0;
}
body > main .profileDownload-wrapper .profileDownload {
    font-size: 14px;
    padding: 21px 55px;
    display: inline-block;
    color: #3d4451;
    line-height: 16px;
    border:1px solid #cdcfd1;
    border-radius: 3px;
    background-color: #efefef;
    font-weight: 600;
}
body > main .profileDownload:hover {
    box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.4);
    transition: box-shadow 0.4s;
}
/* 以下是selfIntroduction */
body > main > .selfIntroduction {
    max-width: 940px;
    /* border: 1px solid red; */
    margin: 0 auto;
    color: #3d4451;
    font-family: kaiti;
    font-size: 22px;
    text-align: center;
}
/* 以下是section */
section.skills,
section.portfolio {
    max-width: 940px;
    margin: 65px auto 0;
}
section.skills> h2 ,
section.portfolio > h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}
section.skills > ol {
   background-color: #fff;
   padding: 40px 50px 10px;
   margin-top: 32px;
   box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}
section.skills > ol > li {
    float: left;
    width: 50%; 
    box-sizing: border-box;
}
section.skills > ol > li:nth-child(even) {
    padding-left: 50px;

}
section.skills > ol > li > h3 {
    font-weight: normal;
    font-size: 14px;
    /* padding-right: 40px; */   
}
section.skills > ol > li > .progressBar {
    /* border:1px solid red; */
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;
}
section.skills > ol > li  .progress {  
    background-color: #e6686a;
    height: 100%;
    width:70%;
    border-radius: 2px;  
}
section.portfolio {
    text-align: center;
}
section.portfolio > nav {
    
    display: inline-block;
    
}
section.portfolio > nav > ol {
    /* border:1px solid red; */
    display: inline-block;
    /* text-align: center; 想让他居中，加给父元素 */
    vertical-align: top;
    margin: 34px auto 0;
}

section.portfolio > nav > ol > li {
    float: left;
    margin-left: 40px; 
    cursor:pointer;

}
section.portfolio > nav > ol > li:first-child {
    margin-left:0;
}
section.portfolio > nav > .Bar {
    /* border:1px solid red; */
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
}
section.portfolio > nav > .Bar > .bar-inner {
    border-radius: 3px;
    background-color: #e6686a;
    height: 100%;
    transition: all 0.3s;
}
section.portfolio > nav .Bar.state-1  .bar-inner {
    margin-left: 0;
    width: 45px;
}
section.portfolio > nav .Bar.state-2  .bar-inner {
    margin-left: 62px;
    width: 55px;
}
section.portfolio > nav .Bar.state-3  .bar-inner {
    margin-left: 143px;
    width: 86px;
}
section.portfolio > .works {
    position: relative;
    /* border:1px solid red; */
    margin-bottom: 100px;
}
section.portfolio > .works > .big,
section.portfolio > .works > .small {
    position: absolute;   
}





